<div class="text-center">
  <input type='hidden' name='postid' value='{{id}}'/>
  <input id='edit-title'>{{name}}</input>
  
  <input id= 'edit-body'>{{description}}</input>
  <input id='comment-name'>{{comment}}</input>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary edit-post">edit post</button>
  </p>
</div>

<script src="../js/editPost.js"></script>
